.banner {
  width: 100%;
  background-size: cover;
  position: relative;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .35);
    width: 100%;
    height: 100%;
  }
  
  &__item {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &--masters {
      padding-top: 315px;
      background: url(../img/banner-bg-1.jpg) no-repeat;
      background-size: cover;
    }
    
    &--intellect {
      padding-top: 315px;
      background: url(../img/banner-bg-3.jpg) no-repeat;
      background-size: cover;
    }
    
    &--gift {
      padding-top: 308px;
      background: url(../img/banner-bg-2.jpg) no-repeat;
      background-size: cover;
      
      &__btn {
        margin-top: 67px;
      }
    }
    
    &--dream {
      padding-top: 315px;
      background: url(../img/banner-bg-4.jpg) no-repeat;
      background-size: cover;
    }
    
    &--studio {
      padding-top: 315px;
      background: url(../img/banner-bg-5.jpg) no-repeat;
      background-size: cover;
    }
  }
  
  &__item-author {
    font-family: @header-font;
    font-size: 22px;
    color: #fff;
    font-style: italic;
    position: relative;
    text-align: center;
    width: 819px;
    margin: 0 auto 25px;
    
    &:after, &:before {
      content: '';
      display: block;
      width: 209px;
      height: 1px;
      background: rgba(255, 255, 255, .5);
      position: absolute;
      top: 50%;
    }
    
    &:after {
      left: 0;
    }
    
    &:before {
      right: 0;
    }
    
    &--straight {
      margin-top: 40px;
      font-family: @text-font;
      font-size: 18px;
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 4px;

      &:after, &:before {
        width: 127px;
      }
    }
  }
  
  &__item-header {
    font-size: 52px;
    font-weight: 700;
    font-family: @header-font;
    line-height: 60px;
    color: #fff;
    text-align: center;
  }
  
  &__btn {
    margin-top: 80px;
  }
  
  &__item-proof {
    width: 318px;
    height: 83px;
    background: url(../img/banner-proof.png) no-repeat;
    background-size: cover;
  }
  
  &__item-statement {
    color: @color-primary;
    font-family: @text-font;
    margin-top: 14px;
  }
  
  &__item-slogan {
    width: 991px;
    height: 72px;
    background: url(../img/dream-text.png) no-repeat;
    background-size: cover;
  }
}