head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  title Title
  script(type="text/javascript", src="js/jquery.min.js")
  script(type="text/javascript", src="js/jquery-migrate-1.2.1.js")
  script(type="text/javascript", src="js/jquery.fancybox.pack.js")
  script(type="text/javascript", src="js/slick.min.js")
  script(type="text/javascript", src="js/jquery.vide.js")
  script(type="text/javascript", src="js/cloud-zoom.1.0.2.js")
  script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAELxnWXbqd1zRYSrGmY8WoRgk938pr5Rg")
  script(type="text/javascript", src="js/script.js")
  link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
  link(rel='stylesheet', href='css/style.css')
  meta(name="viewport", content="width=device-width, initial-scale=0, user-scalable=0")
  meta(name="format-detection", content="telephone=no")