.modal.item#item
  .item__top
    h2.section-header.section-header--black.section-header--left Макет детский интеллект
    .item__gallery
      .item__gallery-main
        img.item__gallery-main-picture(src="/img/item-1-big.jpg", alt="Railroad")
      .item__gallery-thumbnails-container
        a.item__gallery-thumbnail(href="#")
          img.item__gallery-thumbnail-picture(src="img/item-1-small.jpg", alt="Railroad")
        a.item__gallery-thumbnail(href="#")
          img.item__gallery-thumbnail-picture(src="img/item-2-small.jpg", alt="Railroad")
        a.item__gallery-thumbnail(href="#")
          img.item__gallery-thumbnail-picture(src="img/item-3-small.jpg", alt="Railroad")
        a.item__gallery-thumbnail(href="#")
          img.item__gallery-thumbnail-picture(src="img/item-4-small.jpg", alt="Railroad")
    .item__dscr Интересный железнодорожный путь пролегает черех холмистый пейзаж с множеством достопримечательностей: cредневековый город с церковью, гора с замком, ручей с озером, старая крипичная железнодорожная станция с товарным складом в тупике, тоннель и длинный изогнутый мост.
  .item__bottom
    .set-info.set-info--modal
      ul.set-info__numbers
        li.set-info__numbers-item
          .set-info__numbers-item-header Размер:
          .set-info__numbers-item-content 160x100x80
        li.set-info__numbers-item
          .set-info__numbers-item-header Производство:
          .set-info__numbers-item-content 6-7 дней
        li.set-info__numbers-item
          .set-info__numbers-item-header Срок службы:
          .set-info__numbers-item-content 10 лет
      ul.set-info__features
        li.set-info__features-item Безопасен для ребенка
        li.set-info__features-item Развивает интелект и моторику
        li.set-info__features-item Немецкое качество
    .item__buttons
      .item__price 235 000 руб.
      a.btn.btn--colored.item__btn.fancybox(href="#order") Заказать
      .item__logo
        
        
.modal.tibet#tibet
  .tibet__top
    h2.section-header.section-header--black.section-header--left Тибетский взгляд на воспитание детей
    p.tibet__annotation Никаких унижений и телесных наказаний. Единственная причина, по которой бьют детей – они не могут дать сдачи.
    ul.tibet__periods-list
      li.tibet__period
        h3.tibet__period-header Первый период до 5 лет. 
        p.tibet__period-dscr С ребенком нужно обращаться «как с царем». Запрещать ничего нельзя,  только отвлекать. Если он делает что-то опасное, то сделать испуганное лицо и издать испуганный возглас. Ребенок такой язык понимает прекрасно. В это время закладываются активность, любознательность, интерес к жизни. Ребенок еще неспособен выстраивать длинные логические цепочки. Например, он разбил дорогую вазу. Он не понимает, что для покупки такой вазы нужно много работать, заработать денег. Наказание он воспримет как подавление с позиции силы. Вы научите его не бить вазы, а подчиняться тому, кто сильнее. Оно Вам надо?
      li.tibet__period
        h3.tibet__period-header Второй период с 5 до 10 лет. 
        p.tibet__period-dscr В это время с ребенком нужно обращаться «как с рабом». Ставить перед ним задачи и требовать их выполнения. Можно наказывать за невыполнение (но не физически). В это время активно развивается интеллект. Ребенок должен научиться прогнозировать реакцию людей на его поступки, вызывать положительное отношение к себе и избегать проявления отрицательного. В это время не бойтесь нагружать ребенка знаниями.
      li.tibet__period
        h3.tibet__period-header Третий период с 10 до 15 лет. 
        p.tibet__period-dscr Как воспитывать ребенка в этот период? Как с ним обращаться? Как с равным. Не на равных, а именно «как с равным», так как Вы все равно имеете больше опыта и знаний. Советуйтесь с ним по всем важным вопросам, предоставляйте и поощряйте самостоятельность. Свою волю навязывайте в «бархатных перчатках» в процессе обсуждения, подсказками, советами. Если Вам что-то не нравится, то акцентируйте его внимание на негативных последствиях, избегая прямых запретов. В это время формируется самостоятельность и независимость мышления.
      li.tibet__period
        h3.tibet__period-header Последний период с 15 лет
        p.tibet__period-dscr Последний период с 15 лет. Относитесь к нему с уважением. Воспитывать ребенка уже поздно, и Вам остается только пожинать плоды своих трудов.
  .tibet__consequences
    h3.tibet__consequences-header Какие же последствия может вызвать несоблюдение этих правил?
    p.tibet__consequences-dscr Если подавлять ребенка до 5 лет, то Вы подавите его жизненную активность, интерес к жизни, интеллект. Приучите его бездумно и привычно подчиняться грубой силе. Сделаете из него легкую жертву для всякого рода негодяев. <br> <br> Если Вы будете продолжать сюсюкать после 5, то ребенок вырастет инфантильным, неспособным к труду и вообще к духовным усилиям. <br><br>Если Вы будете опекать ребенка как маленького после 10, то он вырастет неуверенным, будет зависимым от более самостоятельных друзей, которые не всегда могут оказывать нужное влияние. <br><br>Если Вы не будете уважать ребенка после 15, то он Вам этого не простит и уйдет навсегда при первой возможности.
  .tibet__bottom
    a.btn.btn--colored.tibet__btn(href="#") Закрыть
  
  
.modal.story#story
  .story__top
    h2.section-header.section-header--black.section-header--left Тибетский взгляд на воспитание детей
    ul.story__list
      li.story__item 
        .story__item-content В детстве я ездил на поезде каждый год в Лениногорск, где живут мои бабушка с дедушкой. <br>Я обожал любоваться пейзажем из окна! Особый восторг вызывала возможность опустить окно плацкарта и полностыю высунуть голову из вагона. Помню, как в это время я жмурил глаза от встречного ветра и вдыхал приятный свежий воздух вперемешку с дымом идущим от печки пассажирского вагона.
      li.story__item 
        .story__item-content В студенческие годы очень приятно было хотя бы на одну ночь очутиться в купе поезда Москва - Санкт-Петербург, чтобы пройтись по улицам Северной столицы. <br><br>Уже на последних курсах у меня появилась идея заняться тем, что мне нарвилось с детсва — связать свою жизнь с железнодорожным моделизмом.
      li.story__item 
        .story__item-content Уже на последних курсах у меня появилась идея заняться тем, что мне нарвилось с детсва — связать свою жизнь с железнодорожным моделизмом.
      li.story__item В 2012 году я открыл интернет-магазин моделей железных дорог Kupitutu.ru
      li.story__item 
        .story__item-content В начале 2013 года в магазин позвонил один клиент. Он хотел сделать особенный подарок для своего директора, который очень любит модели, паровозы и железнодорожную тематику. Его коллеги хотели заказать большую модель и предложили нам ее собрать,мы с радостью согласились! <br><br>Я всегда любил конструкторы, знал как пользоваться отверткой и паяльником, поэтому собрать первый железнодорожный макет было огромным удовольствием! Не менее приятно было слышать отзывы получателя макета,когда мы доставили готовое изделие. Он был в восторге!
      li.story__item 
        .story__item-content С того самого «первого макета» я познакомился со многими очень интересными мастерами-моделистами. Спустя пару совместных проектов у нас образовалась слаженная команда (MR TUTU). Вместе мы изготавливаем железнодорожные макеты и по сей день. <br><br>Мы всегда стараемся сделать чуточку больше, чем от нас ждут.
  .story__outcome Видишь радость в глазах детей и взрослых, когда доставляешь железнодорожный макет. Чувствуешь, что вложился  по-максимуму.
  .story__bottom
    a.btn.btn--colored.story__btn(href="#") Закрыть
    
.modal.order#order
  form.order__form(action="#")
    .order__top
      h2.section-header.section-header--black.section-header--center Оформление заказа
      .order__comment Для оформления заказа, заполните поля ниже
      .order__form-item
        p.order__form-item-header Как вас зовут:
        input.input(type="text" name="name" required)
      .order__form-item
        p.order__form-item-header Телефон:
        input.input(type="text" name="phone" required)
    .order__bottom
      button.btn.btn--colored.order__btn Отправить