doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .header
      img.logo(src="img/logo.png", alt="")
      .wrapper
        nav.menu
          .menu__left
            .menu__item
              a.menu__item-link(href="#sets") Готовые наборы
            .menu__item
              a.menu__item-link(href="#locomotives") Подарочные локомотивы
          .menu__right
            .menu__item
              a.menu__item-link(href="#history") История
            .menu__item
              a.menu__item-link(href="#studio") О студии
            .menu__item
              a.menu__item-link(href="#contacts") Контакты
    .banner
      .banner__item-container
        .banner__item-video(data-vide-bg)
        .banner__item.banner__item--video
          h1.banner__item-header Студия Николая Кузнецова
          .banner__item-author Железные дороги в миниатюре
          a.btn.btn--colored.banner__btn(href="#sets") Перейти в каталог
      .banner__item-container
        .banner__item.banner__item--dream
          .banner__item-slogan
          .banner__item-author Студия Николая Кузнецова
          a.btn.btn--colored.banner__btn(href="#sets") Выбрать мечту
      .banner__item-container
        .banner__item.banner__item--intellect
          .banner__item-proof
          h1.banner__item-header Инструмент развития интеллекта <br>у вашего ребёнка
          a.banner__item-statement(href="#") Заключение
          .banner__item-author.banner__item-author--straight Студия Николая Кузнецова
          a.btn.btn--colored.banner__btn(href="#sets") Перейти к наборам
      .banner__item-container
        .banner__item.banner__item--gift
          h1.banner__item-header Самый впечатляющий <br>подарок вашему ребенку
          .banner__item-author.banner__item-author--straight Студия Николая Кузнецова
          a.btn.btn--colored.banner__btn(href="#sets") Перейти к наборам
      .banner__item-container
        .banner__item.banner__item--masters
          .banner__item-author Студия Николая Кузнецова
          h1.banner__item-header Миниатюрные железные дороги от <br>самых преданных мастеров своего дела
          a.btn.btn--colored.banner__btn(href="#sets") Перейти в каталог
    .sets-section#sets
      .wrapper
        h2.section-header.section-header--black.section-header--center.sets-section__header Готовые наборы
        ul.sets-section__list
          +set('Макет «Подарочный»', '140x100x80 см', '4-6 дней', '10 лет', 'Безопасен для ребенка','Развивает моторику у ребенка', 'Немецкое качество', '60 000 руб.', 'set-1.jpg', 'Ваш ребенок запомнит этот день на всю жизнь', '#item-1')
          +set('Макет «Мечта детства»', '160x100x80 см', '6-7 дней', '10 лет', 'Безопасен для ребенка','Развивает моторику у ребенка', 'Австрийское качество', '95 000 руб.', 'set-2.jpg', 'Ваша мечта сбывается!', '#item-2')
          li.set
            .set__left
              h3.set__header Макет «Детский интеллект»
              .set-info
                ul.set-info__numbers
                  li.set-info__numbers-item
                    .set-info__numbers-item-header Размер:
                    .set-info__numbers-item-content 160x100x80 см
                  li.set-info__numbers-item
                    .set-info__numbers-item-header Производство:
                    .set-info__numbers-item-content 6-7 дней
                  li.set-info__numbers-item
                    .set-info__numbers-item-header Срок службы:
                    .set-info__numbers-item-content 10 лет
                ul.set-info__features
                  li.set-info__features-item Безопасен для ребенка
                  li.set-info__features-item Развивает моторику у ребенка
                  li.set-info__features-item Чешское качество
              .set__bottom
                a.btn.btn--colored.set__button.fancybox(href='#item-3') Подробнее
                .set__price 130 000 руб.
            .set__right
              img.set__picture(src="img/set-3.jpg", alt='Макет «Детский интеллект»')
              .set__quote
                a(href="#").set__intellect-link Заключение психологов
                .set__quote-content Развивает интеллект у ребенка
                .set__quote-author Н. Кузнецов
          +set('Макет «Желанный»', '160x100x80 см', '6-7 дней', '10 лет', 'Безопасен для ребенка','Развивает моторику у ребенка', 'Немецкое качество', '190 000 руб.', 'set-4.jpg', 'Никогда не надоедает, работает как машина', '#item-4')
          +set('Макет «Босс»', '160x100x80 см', '6-7 дней', '10 лет', 'Безопасен для ребенка','Развивает моторику у ребенка', 'Немецкое качество', '60 000 руб.', 'set-5.jpg', 'Предназначен для хозяина жизни!', '#item-5')
          +set('Макет «Счастливый»', '160x100x80 см', '6-7 дней', '10 лет', 'Безопасен для ребенка','Развивает моторику у ребенка', 'Австрийское качество', '290 000 руб.', 'set-6.jpg', 'Счастье всей вашей семьи гарантированно', '#item-6')
    .individual
      .wrapper
        img.individual__logo(src="img/logo-brown.png", alt="Mr. Tutu")
        h2.section-header.section-header--white.section-header--left Индивидуальные макеты
        ul.individual__reasons
          li.individual__reasons-item Необходимо вписать в интерьер
          li.individual__reasons-item Мечтаете о гудке, как у настоящего паровоза
          li.individual__reasons-item Нужен очень большой макет
          li.individual__reasons-item Желаете самое оригинальное решение
          li.individual__reasons-item Желаете много пара
          li.individual__reasons-item Желаете менее компактный
        .individual__btns
          a.btn.btn--transparent.individual__btn(href="#sets") Портфолио работ
          a.btn.btn--colored.individual__btn.fancybox(href="#order") Заказать консультацию
    .locomotives#locomotives
      .wrapper
        h2.section-header.section-header--black.section-header--left Подарочные локомотивы
        ul.locomotives__list
          li.locomotives__item
            img.locomotives__item-picture(src="img/locomotive-1.jpg", alt=" Локомотив «РЖД»")
            .locomotives__item-info
              p.locomotives__item-name Модель «РЖД»
              p.locomotives__item-price 25 500 руб.
              a.btn.btn--colored.locomotives__btn.fancybox(href="#order") Купить
          li.locomotives__item
            img.locomotives__item-picture(src="img/locomotive-2.jpg", alt="Модель «Электровоз»")
            .locomotives__item-info
              p.locomotives__item-name Модель «Электровоз»
              p.locomotives__item-price 36 000 руб.
              a.btn.btn--colored.locomotives__btn.fancybox(href="#order") Купить
          li.locomotives__item
            img.locomotives__item-picture(src="img/locomotive-3.jpg", alt="Модель «Кран»")
            .locomotives__item-info
              p.locomotives__item-name Модель «Кран»
              p.locomotives__item-price 37 000 руб.
              a.btn.btn--colored.locomotives__btn.fancybox(href="#order") Купить
          li.locomotives__item
            img.locomotives__item-picture(src="img/locomotive-1.jpg", alt=" Локомотив «РЖД»")
            .locomotives__item-info
              p.locomotives__item-name Модель «РЖД»
              p.locomotives__item-price 25 500 руб.
              a.btn.btn--colored.locomotives__btn.fancybox(href="#order") Купить
          li.locomotives__item
            img.locomotives__item-picture(src="img/locomotive-2.jpg", alt="Модель «Электровоз»")
            .locomotives__item-info
              p.locomotives__item-name Модель «Электровоз»
              p.locomotives__item-price 36 000 руб.
              a.btn.btn--colored.locomotives__btn.fancybox(href="#order") Купить
    .history#history
      .wrapper
        h2.section-header.section-header--white.section-header--left История студии
        .history__content
          .history__content-left
            p.history__text В детсве я ездил на поезде каждый год. В Лениногорск, где живут мои бабушка с дедушкой. <br><br>Я обожал любоваться пейцажем из окна! Особый восторг высывала возможность опустить окно плацкарта и полностью высунуть голову из вагона...
            a.btn.btn--transparent.history__btn.fancybox(href="#story") Читать далее
          .history__ceo-photo
          .history__ceo-dscr
            .history__ceo-name Николай Кузнецов
            .history__ceo-position Генеральный директор
    .about#studio
      .wrapper
        h2.section-header.section-header--black.section-header--left Несколько слов о нас
        p.about__text Вы всегда можете заглянуть в наш шоурум вместе с будущими обладателями игрушки, в любое удобное для вас время, чтобы не только увидеть все своими глазами, но и опробовать железную дорогу в действии, приняв участие в увлекательной игре!
        .testdrive
          ul.testdrive__features
            li.testdrive__features-item Поуправляйте железной дорогой самостоятельно
            li.testdrive__features-item Оцените безопасность железных дорог
            li.testdrive__features-item Познакомтесь с генеральным директором
            li.testdrive__features-item Выпейте чашечку чая или кофе
            li.testdrive__features-item Посмотрие столкновение и переворачивание поездов
            li.testdrive__features-item Купите железную дорогу
          .testdrive__bottom
            a.btn.btn--colored.fancybox(href="#order") Записаться на тестдрайв
    .faq
      .wrapper
        h2.section-header.section-header--white.section-header--left Часто задаваемые вопросы
        ul.faq__list
          li.faq__item
            h3.faq__item-header Монтаж
            p.faq__item-content Монтаж производится в кратчайшие сроки к установленной вами датой точно в срок
          li.faq__item
            h3.faq__item-header Доставка
            p.faq__item-content Доставка осуществляется по Москве, и транспортными компаниями по территории РФ и СНГ
          li.faq__item
            h3.faq__item-header Гарантия
            p.faq__item-content На всю нашу продукцию дается гарантия сроком на 3 года с техническим обслуживание
          li.faq__item
            h3.faq__item-header Оплата
            p.faq__item-content Мы принимаем к оплате банковские карты и наличные деньги в нашем шоуруме
          li.faq__item
            h3.faq__item-header Сервис и ремонт
            p.faq__item-content Мы готовы предложить техническое обслуживание  для вашей железной дороги с ремонтов всех неисправных частей
          li.faq__item
            h3.faq__item-header Модернизация
            p.faq__item-content Поезда, вагоня, озеленение, фигурки — каждый раз вы сможете радовать своего ребенка новыи маленькими сюрпризами
    .contacts#contacts
      .wrapper
        .contacts__content
          h2.section-header.section-header--black.section-header--left.section-header--no-border Контакты
          p.contacts__text Мы всегда будем рады встретить вас в нашем шоуруме!
          p.contacts__address г. Москва, Большая полянка 51 а/9, офис 532
          .contacts__info
            .contacts__info-item.contacts__info-item--phone 8 (499) 501-15-38
            a.contacts__info-item.contacts__info-item--email(href="#") sale@mrtutu.ru
      .contacts__map
        .map
        //iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1889.0857314174923!2d37.618843040101844!3d55.73219439771726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b04c28e94cd%3A0xa07172478773e2ea!2z0YPQuy4g0JHQvtC70YzRiNCw0Y8g0J_QvtC70Y_QvdC60LAsIDUx0JAvOSwg0JzQvtGB0LrQstCwLCAxMTkwMTc!5e0!3m2!1sru!2sru!4v1474012110911", frameborder="0" style="border:0" allowfullscreen)
    footer.footer
      .wrapper.footer__wrapper
        .footer__left
          p.footer__copyright © 2012—2016 «Mr. TUTU»
          p.footer__dscr Коллектив специалистов железнодорожного макетирования
        .footer__center
          a.btn.btn--transparent.footer__btn.fancybox(href="#tibet") Тибетский взгляд на воспитание детей
          a.creator(href="#")
            img.creator__logo(src="img/creator-logo.png", alt="")
            .creator__link Создание сайта
        .footer__right
          .subscribe
            .subscribe__header Подписаться на новые работы
            form.subscribe__form
              input.subscribe__input(type="text" placeholder="Ваш e-mail" name="email")
              button.subscribe__btn
    include ../templates/modals.jade