doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .slider-main.backstretch
      //.slider-main__item.slider-main__item--first
      //.slider-main__item.slider-main__item--second
      //.slider-main__item.slider-main__item--third
    +header('', 'menu--center')
    .wrapper
      .title
        h1.title__content Студия пилатес
        p.title__comment и функционального тренинга
        a.btn.title__btn(href="#") 
          .btn__content Гостевой визит
    +footer